<!DOCTYPE html>
<html lang="en">
    <%- include('header', {title: 'Help'}); %>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome to my API's Documentation</h4>
        <p>This section covers everything you need to know the usage of this API.</p>
        <hr>
        <p class="mb-0">The application was developed with the purpose of proporcionate data to any application that accepts the REST arquitecture</p>
    </div>
    <div class="alert alert-info" role="alert">
        <strong style="font-size: 1.5em">Response Codes</strong>
    </div>

    <div class="row" style="margin-right: 0;">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action list-group-item-success center" id="list-home-list" data-bs-toggle="list" href="#" role="tab" aria-controls="home">Code 1</a>
            <a class="list-group-item list-group-item-action list-group-item-danger center" id="list-profile-list" data-bs-toggle="list" href="#" role="tab" aria-controls="profile">Code 0</a>
            <a class="list-group-item list-group-item-action list-group-item-info center" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Code 2</a>
            <a class="list-group-item list-group-item-action list-group-item-warning center" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Code -1</a>
          </div>
        </div>
        <div class="col-8 container-tab-content">
          <div class="tab-content"  id="nav-tabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="list-home-list">
              Click one of the options displayed in the left side to see extra information.
            </div>
            <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              This code is returned when the request was succesfully executed and no errors were found during this process, this code represents a 200 or 201 HTTP code.
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              This code represents a failure in the process of the request, this is related to a 500 HTTP error, for example error
              was returned by the database while saving or retrieving data.
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">.a..</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">..jh.</div>
          </div>
        </div>
      </div>      
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>