<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Help</title>
    <style>
        .alert {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome to my API's Documentation</h4>
        <p>This section covers everything you need to know the usage of this API.</p>
        <hr>
        <p class="mb-0">The application was developed with the purpose of proporcionate data to any application that accepts the REST arquitecture</p>
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</body>
</html>