<!DOCTYPE html>
<html lang="en">
    <%- include('header', {title: 'Redirecting'}); %>
<body>
    <div class="card">
        <h2 class="card-header">Redirecting...</h2>
        <div class="card-body">
          <h5 class="card-title">Authentication was succesful</h5>
          <p class="card-text">
              Please wait your request is being processed, redirecting in 
              <span id="count" style="color: red; font-size: 1.2em">5</span> 
          </p>
          <input type="hidden" id="token" value="<%= token %>" />
          <input type="hidden" id="uri" value="<%= uri %>" />
        </div>
    </div>
</body>
<script>
    const client = 'http://localhost:3000'
    var count = 5
    setInterval(() => {
        document.querySelector('#count').textContent = count--
    }, 1000);

    setTimeout(() => {
        const token = document.querySelector('#token').value
        const uri = document.querySelector('#uri').value
        window.location = `${client}${uri}/${token}`
    }, 6000) 
</script> 
</html>